// bower:scss
// endbower

@import "compass/css3";
 
@import "compass/css3/box-sizing";

$turquoise :#1abc9c;
$emerald:#2ecc71;
$peter:#3498db;
$ametheyist:#9b59b6;
$sun:#ecf0f1;
$orange:#f39c12;


.orange{
  background-color: #f39c12;
  }

.turquoise{
  background-color :$turquoise;
}
.emerald{
  background-color:$emerald;
}
.peter{
  background-color:$peter;
}
.ametheyist{
  background-color:$ametheyist;
}

.blank{
  color: #ffffff;
}

#bod{
  position: absolute;
  top: 50px;
}

*{
  @include box-sizing(border-box); 
  clear:both;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  background-color: $sun;
  color: #ffffff;
  font-size: 20px;
}

.border{
  border-radius: 10px;
}

.margins{
  margin: 5px 5px 5px 5px ;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.centrer{
  text-align: center;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
