<div class="bar bar-header  orange">
  <h1 class="title blank">Wesh Party</h1>
</div>
<div id="bod">
	<div class="row">
		<div class="col-67 turquoise border margins centrer" ng-click="auth.login('facebook')">
			<img class="full-image" src="images/signin.png">
			<p>
				Sign in 
			</p>
		</div>
		<div class="col emerald border margins centrer">
			<img class="full-image" src="images/about.png">
			<p>
				<a href="#user">About</a>
			</p>	
		</div>
		
	</div>
	<div class="row">
		<div class="col-50 peter border margins centrer">
			<img class="full-image" src="images/party.png">
			<p>
				Wesh Gaming Party ? 
			</p>
		</div>
		<div class="col ametheyist border margins centrer">
			<img class="full-image" src="images/signup.png">
			<p>
				Sign up
			</p>
		</div>
	</div>
</div>