<div class="bar bar-header  orange">
 	<h1 class="title blank">Wesh Party</h1>
</div>
<div id="bod">
	<div class="row">
		<div class="col-33 turquoise border margins centrer" ng-click="connect()">
			<img class="full-image" src="images/invite.png">
			<p>
				Invite Friends
			</p>
		</div>
		<div class="col emerald border margins centrer">
			<p>
				{{user.displayName}}
			</p>	
		</div>
		
	</div>
	<div class="row">
		<div class="col-50 peter border margins centrer">
			<img class="full-image" src="images/find.png">
			<p>
				Find Friends
			</p>
		</div>
		<div class="col ametheyist border margins centrer">
			<img class="full-image" src="images/logout.png">
			<p>
				Log Out 
			</p>
		</div>
	</div>
</div>